.logo-img {
  max-width: 100px;
  height: auto;
}

.fa-chevron-down {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.fa-chevron-up {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
  /* Asegúrate de que la rotación sea 0 grados para la flecha hacia arriba */
}