.logo-img {
  max-width: 100px;
  height: auto;
}

.fa-chevron-down {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.fa-chevron-up {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
  /* Asegúrate de que la rotación sea 0 grados para la flecha hacia arriba */
}

.nav-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  margin: 10px;
}

/* ------------------------- RESPONSIVE ------------------------------------ */

@media (min-width: 291px) and (max-width: 900px){

  .logo-img{
    height: 70px;
    width: 70px;
  }

  .nav-item{
    text-align: center;
  }

  .dropdown-menu {
    width: 40%;
    margin-left: 30%;
    text-align: center;
  }
}
