h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 5em;
  margin-bottom: 50px;
  color: #eeeeee;
}


.caja {
  background: linear-gradient(360deg, transparent), rgba(0, 0, 0, 0.7);
  /* Gradiente y fondo oscuro semi-transparente */
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #555;
}

th {
  background-color: #333;
  color: #ffcc00;
  /* Amarillo */
}

td {
  background-color: #eeeeee;
}

tr:nth-child(even) {
  background-color: #555;
}