<h2>Ranking General</h2>
  <table class="caja">
    <thead>
        <tr>
          <th>Posición</th>
          <th>Nickname</th>
          <th>Victorias</th>
          <th>Derrotas</th>
          <th>Puntos Totales</th>
          <th>Partidas Jugadas</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let jugador of jugadores; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ jugador.nickname }}</td>
          <td>{{ jugador.victorias }}</td>
          <td>{{ jugador.derrotas }}</td>
          <td>{{ jugador.puntos_totales }}</td>
          <td>{{ jugador.partidas_jugadas }}</td>
        </tr> -->
      </tbody>
    </table>
