/* @import "compass/css3"; */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,400,600);

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo negro translúcido */
    z-index: 999;
    /* Asegura que la capa de fondo esté debajo del modal */
}

h1 {
    font-family: Dosis;
    font-weight: 200;
    text-align: center;
    color: #000000;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    transform: translate3d(0, 0, 0);
    animation: anim 3.2s ease-out forwards 1s;
    margin-bottom: 3em;
}


strong {
    font-weight: 400;
}


@-webkit-keyframes anim {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }

    50% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -webkit-transform: rotateY(0deg);
    }

    75% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -webkit-transform: rotateY(0deg) translateZ(60px);
    }

    100% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        letter-spacing: 8px;
        -webkit-transform: rotateY(0deg) translateZ(100px);
    }

}

@keyframes anim {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0;
        -moz-transform: rotateY(-90deg);
    }

    50% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -moz-transform: rotateY(0deg);
    }

    75% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -moz-transform: rotateY(0deg) translateZ(60px);
    }

    100% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        letter-spacing: 8px;
        -moz-transform: rotateY(0deg) translateZ(100px);
    }

}

/*  ---------------- BOTON ---------------- */

.start-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    /* Add this line to make it a positioned container */
}


a {
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    width: 15em;
}

a:hover {
    color: #050801;
    box-shadow: 0 0 1px #03e9f4,
        0 0 10px #03e9f4,
        0 0 10px #03e9f4,
        0 0 50px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        /* Ajusta el tamaño del título para pantallas pequeñas */
        margin-bottom: 1em;
    }

    a {
        margin-left: 10%;
        /* Ajusta el margen izquierdo para pantallas pequeñas */
        margin-right: 10%;
        /* Ajusta el margen derecho para pantallas pequeñas */
    }

}

/*** ESTILOS BOTÓN GROW BOX ***/
.ov-btn-grow-box {
    border-radius: 50px;
    background: transparent;
    /* color de fondo */
    color: #4741d7;
    /* color de fuente */
    /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid rgb(0, 7, 150);

}

.ov-btn-grow-box:hover {
    border-radius: 50px;

    color: #fff;
    /* color de fuente hover */
}

.ov-btn-grow-box::after {
    content: "";
    background: #2196f3;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
    border-radius: 50px;

}

.ov-btn-grow-box:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}