<h1>
  Bienvenido <br />

  <strong
    class="d-flex flex-column align-items-center"
    *ngIf="!getNicknameStorage()"
    ><hr style="width: 10em" />
    BRANDIQ</strong
  >
  <strong>{{ getNicknameStorage() }}</strong>
</h1>

<div class="start-buttons">
  <ng-container *ngIf="userService.isLogged()">
    <div style="cursor: pointer">
      <div class="start-button">
        <a (click)="showStartGameForm()" class="ov-btn-grow-box"
          >Empezar partida</a
        >
      </div>
    </div>
    <div style="cursor: pointer">
      <div class="start-button">
        <a (click)="showStartGameForm()" class="ov-btn-grow-box"
          >Unirse a partida</a
        >
      </div>
    </div>
  </ng-container>
</div>
<div class="overlay" *ngIf="showModal"></div>

<app-modal-empezar-partida
  *ngIf="showModal"
  (closeModalEvent)="closeModal()"
></app-modal-empezar-partida>
