<!-- game-board.component.html -->
<div
  style="
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  "
>
  <div class="board" style="position: relative">
    <div *ngIf="getShow()" style="position: absolute; z-index: 1">
      <app-modal-responder-pregunta></app-modal-responder-pregunta>
    </div>
    <div
      [ngStyle]="
        mostrarModalResponderPregunta ? estilosSiTrue() : estilosSiFalse()
      "
    >
      <ng-template #dado>
        <div class="loading-message"></div>
      </ng-template>
      <app-dado *ngIf="esMiTurno(); else loading" style="z-index: 0"></app-dado>
      <ng-template #loading>
        <div class="loading-message"></div>
      </ng-template>
    </div>

    <div *ngFor="let row of board; let i = index" class="row">
      <div
        *ngFor="let cell of row; let j = index"
        class="cell"
        [ngStyle]="{ 'background-color': cell?.color }"
        (click)="
          cell && isBorderCell(cell) && handleCellClick(cell.row, cell.col)
        "
      >
        <span *ngIf="cell">
          {{ cell.number === 29 ? "END" : cell.number }}
        </span>
      </div>
    </div>
  </div>

  <!-- Información de cada jugador en una cuadrícula de 2x2 -->
  <div class="player-grid">
    <div
      *ngFor="let jugador of jugadoresSala; let i = index"
      class="player-container"
    >
      <div class="player player{{ i + 1 }}">
        <label style="font-weight: bold; text-transform: uppercase">{{
          jugador.id_jugador
        }}</label>
        <hr />
        <p>Puntuación: {{ jugador.puntos }}</p>
        <!-- <p>PosicionX: {{ jugador.posicionX }}</p>
        <p>PosicionY: {{ jugador.posicionY }}</p> -->
        <p>Casilla: {{ obtenerPosicionActual(jugador) }}</p>
      </div>
    </div>
  </div>
</div>
