<h2>Estadística del Usuario</h2>

  <table class="caja">
    <thead>
        <tr>
          <th>Nickname</th>
          <th>Victorias</th>
          <th>Derrotas</th>
          <th>Puntos Totales</th>
          <th>Partidas Jugadas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nickname }}</td>
          <td>{{ victorias }}</td>
          <td>{{ derrotas }}</td>
          <td>{{ puntos_totales }}</td>
          <td>{{ partidas_jugadas }}</td>
        </tr>
      </tbody>
    </table>