<div class="board">
    <div class="cell advance">20</div>
    <div class="cell green">19</div>
    <div class="cell red">18</div>
    <div class="cell yellow">17</div>
    <div class="cell green">16</div>
    
    <div class="cell empty"></div>

    <div class="cell yellow">11</div>
    <div class="cell advance">10</div>
    <div class="cell yellow">9</div>
    <div class="cell red">8</div>
    <div class="cell green">7</div>
    <div class="cell backward">21</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell yellow">15</div>  
    
    <div class="cell empty"></div>
    
    <div class="cell green">12</div>
    
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell red">6</div>
    <div class="cell green">22</div>
    
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell red">15</div>
    <div class="cell advance">14</div>
    <div class="cell advance">13</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell yellow">5</div>
    <div class="cell red">23</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
                
    <div class="cell green">4</div>

    <div class="cell backward">24</div>
    <div class="cell yellow">25</div>
    <div class="cell red">26</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell start">Inicio</div>
    <div class="cell backward">2</div>
    <div class="cell red">3</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell green">27</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell yellow">30</div>
    <div class="cell red">29</div>
    <div class="cell advance">28</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell end">END</div>
    <div class="cell yellow">53</div>
    <div class="cell green">52</div>
    <div class="cell red">31</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell advance">51</div>
    <div class="cell yellow">32</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell green">40</div>
    <div class="cell red">41</div>
    <div class="cell backward">42</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell green">50</div>
    <div class="cell red">33</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>


    <div class="cell yellow">39</div>

    <div class="cell empty"></div>

    <div class="cell advance">43</div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell red">49</div>
    <div class="cell yellow">34</div>

    <div class="cell green">35</div>
    <div class="cell backward">36</div>
    <div class="cell red">37</div>
    <div class="cell yellow">38</div>

    <div class="cell empty"></div>

    <div class="cell advance">44</div>
    <div class="cell green">45</div>
    <div class="cell backward">46</div>
    <div class="cell red">47</div>
    <div class="cell advance">48</div>
</div>