<div class="wrapper active">
  <div class="form-box register">
    <h2>Registro</h2>
    <div
      *ngIf="errorMessage"
      id="registerError"
      class="text-danger mt-3 text-center"
    >
      {{ errorMessage }}
    </div>
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <!-- Cambio aquí -->

      <div class="input-box">
        <div class="input-container">
          <input
            type="text"
            id="nombre"
            class="form-control"
            formControlName="nombre"
            [ngClass]="{
            'is-invalid': isInvalidAndTouched('nombre'),
            'is-valid': !isInvalidAndTouched('nombre') && !isNullOrWhiteSpace(registerForm.get('nombre')?.value),
          }"
          />
          <label>Nombre</label>
        </div>

        <div class="input-container">
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="nickname"
            [ngClass]="{
              'is-invalid': isInvalidAndTouched('nickname'),
              'is-valid': !isInvalidAndTouched('nickname') && !isNullOrWhiteSpace(registerForm.get('nickname')?.value),
          }"
          />
          <!-- Cambio aquí -->
          <label>Nickname</label>
        </div>
      </div>

      <div class="input-container">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-invalid': isInvalidAndTouched('email'),
            'is-valid': !isInvalidAndTouched('email') && !isNullOrWhiteSpace(registerForm.get('email')?.value),
        }"
        />
        <!-- Cambio aquí -->
        <label>Email</label>
      </div>

      <div class="input-box">
        <div class="input-container">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': isInvalidAndTouched('password'),
              'is-valid': !isInvalidAndTouched('password') && !isNullOrWhiteSpace(registerForm.get('password')?.value),
          }"
          />
          <label>Password</label>
          @if (isInvalidAndTouched('password')) {
          <div class="invalid-feedback">Mínimo 8 carácteres</div>
          }
        </div>

        <div class="input-container">
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid': isInvalidAndTouched('confirmPassword'),
              'is-valid': !isInvalidAndTouched('confirmPassword') && !isNullOrWhiteSpace(registerForm.get('confirmPassword')?.value),
          }"
            (input)="checkPasswordMatch()"
          />
          <label>Repetir Contraseña</label>
          <div
            *ngIf="isInvalidAndTouched('confirmPassword')"
            class="invalid-feedback"
          >
            Contraseñas no coinciden
          </div>
        </div>
      </div>

      <button type="submit" id="botonRegistro">Registro</button>

      <div class="login-register">
        <p>
          Ya tienes una cuenta?
          <a [routerLink]="['/login']" class="login-link">Iniciar sesión</a>
        </p>
      </div>
    </form>
  </div>
  <br />
</div>
