.wrapper {
    /* margin-top: 50px; */
    height: 50vh;
    margin: 0 auto;
    background: #ffffff;
    /* Color blanco */
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    min-height: 500px;
    min-width: 515px;
    width: 20vw;
}

.wrapper .form-box {
    width: 80%;
    padding: 30px;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.input-box {
    position: relative;
    height: 40px;
    /* border-bottom: 2px solid #000000; */
    margin: 40px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.input-box #signupemail {
    border-bottom: 2px solid #000000;
    color: #000000;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #f92525;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-container {
    flex: 1;
    position: relative;

    /* Ajusta el espacio entre los input-containers */
    border-bottom: 2px solid #000000;
    /* Agrega un borde inferior */
}


.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-container input {
    width: calc(100% - 10px);
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 5px;
}

#botonRegistro {
    width: 100%;
    height: 45px;
    background: #2e765f;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

#botonRegistro:hover {
    background: #4dac8e;
}

.login-register {
    font-size: .9em;
    color: #929d9f;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}