<form (submit)="crearPartida()" [formGroup]="modalPartidaForm">
  <h1>Crear partida</h1>
  <hr />
  <p>
    <strong
      >Creador de la partida: <span>{{ getNicknameStorage() }}</span></strong
    >
  </p>
  <div
    class="form-group"
    [ngClass]="{ 'is-invalid': isInvalidAndTouched('tituloPartida') }"
  >
    <label for="titulo">Título :</label>
    <input
      type="text"
      class="form-control"
      style="width: 75%"
      name="tituloPartida"
      formControlName="tituloPartida"
      [ngClass]="{
        'is-invalid': isInvalidAndTouched('tituloPartida'),
        'is-valid': !isInvalidAndTouched('tituloPartida') && !isNullOrWhiteSpace(modalPartidaForm.get('tituloPartida')?.value),
    }"
    />
  </div>
  @if (isInvalidAndTouched('tituloPartida')) {
  <div class="invalid-feedback">Título debe tener entre 3 y 10 caracteres</div>
  }
  <div class="buttons-container">
    <button type="button" (click)="closeModal()">Cerrar</button>
    <button type="submit">Crear partida</button>
  </div>
</form>
