<br>
<div class="container-rules">
    <h2 id="titol-rules">REGLAS</h2>
    <hr>
    <ol>
        <li> Los jugadores empiezan con 0 puntos.</li>
        <li> Los jugadores tienen como objetivo alcanzar el mayor numero de puntos disponibles.</li>
        <li> El tabler consta de 40 casillas , se dividen en tres colores (<strong class="verde">verde</strong> / <strong class="amarillo">amarillo</strong> / <strong class="rojo">rojo</strong>), y también existen casillas sorpresa.</li>
        <li> Los colores de las casillas implican el nivel de dificultad de la pregunta.</li>
        <li> El nivel de dificultad conlleva a una diferencia de puntuación si se acierta la pregunta.</li>
        <li> Si se falla la pregunta no avanza de posicion, solo pierde parte de la puntuación que tenia.</li>
        <li> Las preguntas serán aleatorias.</li>
        <li> Las casillas sorpresa te pueden hacer avanzar o retroceder de posicion o pueden sumar o restar la puntuación del jugador.</li>
        <li> Gana el jugador con mayor puntaje.</li>
    </ol>
</div>