:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box.login {
    margin-top: 10%;
    width: 130%;
    height: 100%;
    padding: 40px;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.form-box.login h2 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

.form-box.login .input-box {
    position: relative;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    color: #000000;
}

.form-box.login .input-box input:focus~label,
.form-box.login .input-box input:valid~label {
    color: black;
    top: -15px;
}

.form-box.login {
    flex: 1;
    position: relative;
}

.form-box.login label {
    position: absolute;
    top: -50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

#botonLogin {
    width: 100%;
    height: 45px;
    background: #2e765f;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

#botonLogin:hover {
    background: #4dac8e;
}

.form-box.login .login-register {
    font-size: 0.9em;
    color: #929d9f;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.form-box.login .login-register p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.form-box.login .login-register p a:hover {
    text-decoration: underline;
}
