<div class="wrapper">
  <div class="form-box login">
    <h2>Login</h2>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="input-box">
        <input
          type="text"
          id="nickname"
          class="form-control"
          name="nickname"
          formControlName="nickname"
          [ngClass]="{
            'is-valid': loginForm.get('nickname')?.valid && loginForm.get('nickname')?.touched,
            'is-invalid': loginForm.get('nickname')?.invalid && loginForm.get('nickname')?.touched
          }"
          required
        />
        <label>Nickname</label>
      </div>

      <div class="input-box">
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          name="password"
          formControlName="password"
          [ngClass]="{
            'is-valid': loginForm.get('password')?.valid && loginForm.get('password')?.touched,
            'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
          }"
          required
        />
        <label>Password</label>
      </div>

      <button type="submit" id="botonLogin">Login</button>

      <div class="login-register">
        <p>
          Don't have an account?
          <a [routerLink]="['/register']" class="register-link">Register</a>
        </p>
      </div>
      <div
        *ngIf="errorMessage"
        id="loginError"
        class="text-center text-danger mt-3"
      >
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
