<div class="tapete">
  <div class="wrap">
    <div #dado class="dado">
      <img class="cara front" src="../../../assets/dado/dado1.jpg" alt="1" />
      <img class="cara back" src="../../../assets/dado/dado2.jpg" alt="2" />
      <img class="cara left" src="../../../assets/dado/dado3.jpg" alt="3" />
      <img class="cara right" src="../../../assets/dado/dado4.jpg" alt="4" />
      <img class="cara top" src="../../../assets/dado/dado5.jpg" alt="5" />
      <img class="cara bottom" src="../../../assets/dado/dado6.jpg" alt="6" />
    </div>
  </div>
</div>
<button #boton (click)="girar()">Realizar tirada</button>
