.playersList {
  display: flex;
  align-items: center;
}

.playersList>div {
  height: 15em;
  width: 15em;
  text-align: center;
  border-radius: 10px;
}

.player1 {
  background-color: #f0e68c;
  margin-right: 2%;
  /* Amarillo pastel */
}

.player2 {
  background-color: #add8e6;
  margin-right: 2%;
  /* Azul pastel */
}

.player3 {
  background-color: #98fb98;
  margin-right: 2%;
  /* Verde pastel */
}

.player4 {
  background-color: #ffb6c1;
  /* Rosa pastel */
}


/* Estilos para las etiquetas de los jugadores */
.playersList label {
  font-weight: bold;
  font-size: 1.2em;
}

/* Estilos para las puntuaciones de los jugadores */
.playersList p {
  color: #555;
}

@media (max-width: 1300px) {
  .playersList>div {
    height: 10em;
    width: 8em;
    text-align: center;
    border-radius: 10px;
  }
}